/* Hero Section */
.hero {
  position: relative;
  height: 200vh;
  display: flex;
  align-items: start;
  justify-content: center;
  /* เอา overflow: hidden ออก */
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
