/* Navbar Section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent;
  color: var(--color-black);
  z-index: 1000;
  position: sticky;
  top: 0;
}



.navbar__nav {
  justify-self: center;
  gap: 24px;
}


.navbar__currency {
  position: relative;
  font-size: 0.8125rem;
  transition: all 0.1s ease-in-out;
}

.navbar__currency .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid #ddd;
  padding: 10px 0;
  width: 79px;
  z-index: 10;
}

.navbar__currency:hover .dropdown-content {
  display: flex;
  justify-content: center;
  height: 36px;
}

.navbar__actions {
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar__actions__icon {
  width: 17px;
  height: 17px;
}

.navbar__currency:hover .label,
.navbar__actions__label:hover {
  font-size: 0.8125rem;
  font-weight: 400;
  opacity: 0.5;
}

.navbar__dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.navbar__dropdown-trigger,
.navbar__link {
  transition:
    0.2s ease-out,
    0.2s ease-out;
  font-size: 0.8125rem;
}

.navbar__link {
  display: inline-block;
  padding: 10px;
}

.navbar__link:hover,
.navbar__dropdown-trigger:hover {
  font-size: 1.125rem;
  font-weight: 700;
}

.navbar__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  padding: 10px 0;
  min-width: 200px;
  display: none;
  z-index: 30;
}

.navbar__dropdown-wrapper:hover .navbar__dropdown {
  display: block;
}

.navbar__dropdown li {
  margin: 0;
}

.navbar__dropdown a {
  display: block;
  padding: 10px 20px;
  color: var(--color-black);
  text-decoration: none;
  font-size: 13px;
  transition:
    0.2s ease-out,
    0.2s ease-out;
}

.navbar__dropdown a:hover {
  background-color: none;
  font-size: 14px;
}

/* Mobile */

/* ===== MOBILE MENU BASE ===== */

.navbar__hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
}

/* ซ่อน mobile menu ไว้ก่อน */
.mobile-menu {
  position: fixed;
  inset: 0;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  color: var(--color-black);
  padding: 20px;
  padding-top: 50px;
}

/* ตอนเปิด */
.mobile-menu.open {
  transform: translateY(0);
  padding-bottom: 0;
}

/* header mobile */
.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.mobile-menu__close {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.mobile-menu__accordion-trigger {
  transition: transform 0.3s ease;
}

.mobile-menu__accordion-trigger.active {
  font-weight: 600;
  font-size: 1.5rem;
}

.mobile-menu__nav a,
.mobile-menu__accordion-trigger {
  display: block;
  padding: 15px 0;
  font-size: 0.8125rem;
  color: var(--color-black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

/* accordion */
.mobile-menu__sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  gap: 15px;
  
}

.mobile-menu__sub.open {
  max-height: 400px;
  padding: 0 0 30px 0;
}

.mobile-menu__sub a {
  font-size: 0.8125rem;
  opacity: 0.8;
}

/* brand bottom */
.mobile-menu__brand {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 16vw; /* ขยายอีกนิด */
  font-weight: 900 !important;
  
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .navbar__nav {
    display: none;
  }

  .navbar__currency {
    justify-self: start;
  }

  .navbar__hamburger {
    display: block; /* สำคัญมาก */
    justify-self: center;
  }

  .navbar__actions {
    justify-self: end;
  }
  
}

@media screen and (max-width: 600px) {
  ul.navbar__nav li.right,
  ul.navbar__nav li {
    float: none;
  }
}
